@model HMS.Areas.Dashboard.ViewModels.AccommodationsActionModel

@if (Model != null)
{
    @*<script src="~/Areas/Dashboard/Scripts/SaveActionScript.js"></script>*@

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.Id == 0)
                {
                    <text> Create Accommodation Package </text>
                }
                else
                {

                    <text> Edit Accommodation Package </text>
                }
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm" enctype="multipart/form-data">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" placeholder="Enter Accommodation Type name." value="@Model.Name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" placeholder="Enter Accommodation Type Description.">@Model.Description</textarea>
                </div>
                <div class="form-group">
                    <label>Accommodation Package</label>
                    <select class="form-control" name="accommodationPackageId" required>
                        @if (Model.AccommodationPackages != null)
                        {
                            <option value="0">
                                Select Package.
                            </option>
                            foreach (var ap in Model.AccommodationPackages)
                            {
                                <option value="@ap.Id" @(ap.Id == Model.AccommodationPackageId ? "selected" : string.Empty)>
                                    @ap.Name
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Pictures</label>
                    <input id="selectPictures" type="file" class="form-control-file" name="pictures" multiple />
                    <input id="pictureIds" type="hidden" name="PictureIds" value="" />
                </div>
                <div id="picsArea">
                    @if (Model.AccommodationPictures != null && Model.AccommodationPictures.Count() != 0)
                    {
                        foreach (var ap in Model.AccommodationPictures)
                        {
                            <img src="~/Images/Site/@ap.Picture.URL" style="width:230px" class="img-thumbnail" data-id="@ap.Picture.Id" />
                        }
                    }
                </div>
            </form>
            <div class="errorDiv"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
            <button data-href="@Url.Action("Action","Accommodations")" id="saveActionBtn" type="button" class="btn btn-primary">
                <i class="fas fa-save mr-1"></i>Save
            </button>
        </div>
    </div>
}
<div id="picTemplate">
    <img src="" style="width:230px" class="img-thumbnail" data-id=""/>
</div>
<script>
    $("#saveActionBtn").click(function () {
        var pictureIds = [];

        $("#picsArea img").each(function () {
            var picId = $(this).attr("data-id");
            pictureIds.push(picId);
        });

        $("#pictureIds").val(pictureIds.join());

        debugger;
        $.ajax({
            url: $(this).attr("data-href"),
            type: 'Post',
            data: $("#actionForm").serialize()
        })
        .done(function (result) {
            if (result.success) {
                location.reload();
            } else {
                $(".errorDiv").html(result.message);
            }
        });
    });


    $("#selectPictures").change(function () {
        var pictures = this.files;
        
        var formData = new FormData();
        for (var i = 0; i < pictures.length; i++) {
            formData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: '@Url.Action("UploadPictures", "Dashboard")',
            type: 'Post',
            data: formData,
            processData: false,
            contentType: false
        })
        .done(function (result) {

            for (var i = 0; i < result.length; i++) {
                var picture = result[i];

                var imgHTML = $("#picTemplate").clone();
                imgHTML.find("img").attr("src", "/images/site/" + picture.URL);
                imgHTML.find("img").attr("data-id", picture.Id);

                $("#picsArea").append(imgHTML.html());
            }
        });
    });
</script>


 