@model HMS.Areas.Dashboard.ViewModels.AccommodationsActionModel

@if (Model != null)
{
    <script src="~/Areas/Dashboard/Scripts/SaveActionWithPictures.js"></script>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.Id == 0)
                {
                    <text> Create Accommodation Package </text>
                }
                else
                {

                    <text> Edit Accommodation Package </text>
                }
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm" enctype="multipart/form-data">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" placeholder="Enter Accommodation Type name." value="@Model.Name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" placeholder="Enter Accommodation Type Description.">@Model.Description</textarea>
                </div>
                <div class="form-group">
                    <label>Accommodation Package</label>
                    <select class="form-control" name="accommodationPackageId" required>
                        @if (Model.AccommodationPackages != null)
                        {
                            <option value="0">
                                Select Package.
                            </option>
                            foreach (var ap in Model.AccommodationPackages)
                            {
                                <option value="@ap.Id" @(ap.Id == Model.AccommodationPackageId ? "selected" : string.Empty)>
                                    @ap.Name
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Pictures</label>
                    <input id="selectPictures" type="file" class="form-control-file" name="pictures" multiple pics-href="@Url.Action("UploadPictures", "Dashboard")" />
                    <div style="text-align:center" class="mt-1">
                        <label id="deleteMsg" style="color:darkred; @( ( Model.AccommodationPictures != null && Model.AccommodationPictures.Count() != 0 )? string.Empty : "display:none" ) ">
                            Press on picture for deleting.
                        </label>
                    </div>
                    <input id="pictureIds" type="hidden" name="PictureIds" value="" />
                </div>
                <div id="picsArea">
                 
                    @if (Model.AccommodationPictures != null && Model.AccommodationPictures.Count() != 0)
                    { 
                        foreach (var ap in Model.AccommodationPictures)
                        {
                            <img src="~/Images/Site/@ap.Picture.URL" style="width:230px" class="img-thumbnail" data-id="@ap.Picture.Id" onclick="removeMe(this)" />
                        }
                    }
                </div>
            </form>
            <div class="errorDiv"></div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
            <button data-href="@Url.Action("Action","Accommodations")" id="saveActionBtn" type="button" class="btn btn-primary">
                <i class="fas fa-save mr-1"></i>Save
            </button>
        </div>
    </div>
}
<div id="picTemplate" hidden>
    <img src="" style="width:230px" class="del-img img-thumbnail" data-id="" onclick="removeMe(this)" />
</div>
