@model HMS.ViewModels.AccommodationPackageDetailsViewModel

@using HMS.Entities;

@if (Model != null && Model.AccommodationPackage != null)
{

    var thumbnailPicture = Model.AccommodationPackage.AccommodationPackagePictures != null && Model.AccommodationPackage.AccommodationPackagePictures.Count > 0 ? Model.AccommodationPackage.AccommodationPackagePictures.First() : new AccommodationPackagePicture();

    var thumbnailURL = thumbnailPicture.Picture != null ? thumbnailPicture.Picture.URL : "default-image.jpg";

    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(/images/Site/@thumbnailURL);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner slider-text-inner2 text-center">
                                    <h2>
                                        @Model.AccommodationPackage.AccommodationType.Name
                                    </h2>
                                    <h1>@Model.AccommodationPackage.Name</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>


    <div id="colorlib-amenities">
        <div class="container">
            <div class="row">
                <div class="amenities-flex">
                    <div class="desc animate-box" style="width:1200px">
                        <p class="price">
                            <span class="currency">$</span>
                            <span class="price-room">@Model.AccommodationPackage.FeePerNight</span>
                            <span class="per">/ per night</span>
                        </p>
                        <p class="price">
                            <span class="free">@Model.AccommodationPackage.NoOfRoom rooms are available</span>
                        </p>

                        <p>
                            This accommodation package is from type @Model.AccommodationPackage.AccommodationType.Name
                            with many features like :
                            @Model.AccommodationPackage.AccommodationType.Description
                        </p>
                    </div>

                    @if (Model.AccommodationPackage.AccommodationPackagePictures != null && Model.AccommodationPackage.AccommodationPackagePictures.Count > 0)
                    {
                        foreach (var aPP in Model.AccommodationPackage.AccommodationPackagePictures)
                        {
                            var imageUrl = aPP.Picture != null ? aPP.Picture.URL : "default-image.jpg";
                            <div class="amenities-img animate-box" style="height:400px; background-image: url(/images/Site/@imageUrl);"></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Booking</h3>
                <form  id="confirmBookingForm">

                    <input type="hidden" name="AccommodationPackageId" value="@Model.AccommodationPackage.Id" />

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="fromDate">Check in date</label>
                            <input type="text" name="FromDate" id="fromDate" class="form-control" placeholder="Check in date" autocomplete="off">
                        </div>
                        <div class="col-md-6">
                            <label for="duration">Duration of stay nights</label>
                            <select id="duration" name="Duration" class="form-control">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="noOfAdults">No of adults</label>
                            <input type="number" name="NoOfAdults" id="noOfAdults" class="form-control" value="1" min="1" max="10" autocomplete="off">
                        </div>
                        <div class="col-md-6">
                            <label for="noOfChildren">No of children</label>
                            <input type="number" name="noOfChildren" id="NoOfChildren" class="form-control" value="0" min="0" max="10" autocomplete="off">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="name">Guest Name</label>
                            <input type="text" id="name" name="Name" class="form-control" placeholder="Your name">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="Email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="note">Add special note</label>
                            <textarea name="Note" id="note" cols="30" rows="10" class="form-control" placeholder="Add special note"></textarea>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <input type="button" id="checkAvailability" value="Check availability" data-href="@Url.Action("CheckAvailability","Accommodations")"  class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


 <script>
     $('#fromDate').datepicker({
         format: 'mm/dd/yyyy',
         startDate: '+3d'
     });

     $("#checkAvailability").click(function () {
         var linkUrl = $(this).attr("data-href");
         $.ajax({
             url: linkUrl,
             type: 'Post',
             data: $("#confirmBookingForm").serialize()
         })
         debugger;
     })

</script>


